body {
    font-family: sans-serif;
    background-color: #202124;
    color: white;
    margin:10px;
  }

a{
  color: #d9534f;
}

.activate {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dbgroup {
  margin-bottom: 20px;
}

 #container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #0088cc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:disabled{
  opacity: 50%;
  cursor:initial;
}

  button:hover {
    background-color: #005580;
  }

  button:active {
    background-color: #003f6b;
  }

  #enable {
    background-color: #5cb85c;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  #enable:hover {
    background-color: #449d44;
  }

  #enable:active {
    background-color: #398439;
  }

  #disable {
    background-color: #d9534f;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  #disable:hover {
    background-color: #c9302c;
  }

  #disable:active {
    background-color: #ac2925;
  }